# Ignore node_modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
dist/
.env
.DS_Store
.vscode/


frontend2-privateKey.key
frontend2.crt

# Ignore all .md and .MD files except README
*.md
*.MD
!README.md
!README.MD
